:root{
   --logo:#4D5AE5;
   --btn:#404BBF;
   --footer: #2E2F42;  
   --foot-text:#E7E9FC;
   --btn:#F4F4FD;
   --textund::16px;  
   --logo-d:#2E2F42; 
   --cont: #434455;  
   --body:#ffffff;  
}

a{
text-decoration: none;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    background-color: var(--body)
    color: var(var(--logo-d))
}

.header{
    padding-top: 24px;
    padding-bottom: 24px; 
}

.header-container{
    display: flex;
    align-items: center;
    
}




.menu-list{
    margin-left: 76px;
    list-style-type:none; 
    display: flex;
    align-items: center;
    gap: 40px; 
}
.menu-list-list{
    margin-right: 156px;
    justify-content:flex-end;
    list-style-type:none; 
    display: flex;
    gap: 40px; 
}
.nav{
    display: flex;
    align-items: center;
}

 .logo{
margin-left: 156px;
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--logo);


 }
 .logo-dark{
    color:var(--logo-d)
 }

 .nav-link{
    
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--footer)
 }

 .contacts-link{
font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cont);
 }

.btn{
    
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
background-color:var(--btn);
color:var(--logo);
cursor: pointer; 
    
    flex-direction: row;
    padding: 12px 24px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;


}
.menu-btn.item:last-child{
    margin-right: 0;
}
.menu-btn{
    width: 1440px;
    list-style-type: none; 
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-left: auto;
    margin-right: auto;
}
.card-set{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-top: 24px;
    flex-basis: calc(100%/9-24px); 

}


.img-list{
    margin-left: 24px;
    margin-top: 24px;
}
.sub-title{
font-weight: 500;
font-size: 20px;
line-height: 1.5;
margin-top: 8px;

}

.card-container{
    list-style-type: none;
    width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}
.section-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
margin-top: 8px;
}


.footer{
background: var(--footer);
width: 1440px;
height: 310px;
}

.logo-light{
color: var(--body);
}
.logo-foter{
    
    padding-top: 100px;
}
.footer-text{
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--foot-text);
width: 264px;
margin-left: 156px;
}
.btn:hover,
.btn:focus{
    background-color: #404BBF;
    color: var(--body);
}

.button:hover,
.button:focus{
    background-color: #404BBF
}
.nav-link:hover,
.nav-link:focus{
    color:  #404BBF
}
.contacts-link:hover,
.contacts-link:focus{
    color:  #404BBF
}

cursor: pointer;

h1,
h2
p{
    margin: 0;

}

ul{
    margin: 0;
    padding: 0;

} 